* {
  border-radius: 30px;
  padding: 8px;
  text-align: center;
}
body {
  min-height: 100vh;
  transition: 0.5s;
}
#img {
  margin: 0 auto;
  height: 200px;
  visibility: hidden;
}
.show {
  visibility: visible;
}
.mouseEvent {
  border: 6px solid salmon;
  width: 220px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}
