* {
  padding: 0;
  margin: 0;
  text-align: center;
}
body {
  /* overflow: hidden; */
  height: 200vh;
}
img {
  height: 300px;
  border-radius: 5px;
}
#quote {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  border-radius: 10px;
  transition: 0.5s;
  color: #eee;
  cursor: pointer;
}
